div{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffffd4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    border-radius: 9%;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}

input {
    padding: 10px;
    outline: none;
}

button{
    padding: 8.1px;
    outline: none;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

button a {
    text-decoration: none;
    color: black;
}

button:hover{
   background-color: deepskyblue;
   transform: scale(1.05);
}

body{
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
   position:relative;
   top: 1px;
   left: 18.4%;
}

input{
    border-radius: 100px;
}