body {
    background-color: #cebbdf;
}

.card-list .card-item {
    color: black;
    width: 270px;
    height: 420px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(92, 57, 106);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 78px 55px;
}

.card-list .card-item .product-image {
    width: 240px;
    height: 240;
}

.card-list .card-item .buy-button {
    font-size: 1.25rem;
    padding: 7px 27px;
    color: #ffffff;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background-color: #fa3a3a;
    border: 1px solid transparent;
    transition: 0.3s ease;
}

.card-list .card-item .buy-button:hover {
    background-color: #cb2b2b;
    border: 1px solid transparent;
}